:host {
  display: block;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  margin-right: 30px;
}
:host:empty {
  display: none;
}
:host {
  color: var(--primary-color);
  background-color: white;
  border-color: #bee5eb;
}
:host.error {
  color: var(--warn-color);
  background-color: white;
  border-color: #f5c6cb;
}
:host.success {
  color: var(--primary-color);
  background-color: white;
  border-color: #c3e6cb;
}